{% extends "Front\BonPlanBundle::layout.html.twig" %}
{% block container %}
    <div class="contact">
        <div class="container">
            <div class="menu-top">
                <div class="col-md-4 menu-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h3>Contact</h3>
                    <label><i class="glyphicon glyphicon-menu-up"></i></label>
                    <span>Votre avis est le bienvenu</span>
                </div>
                <div class="col-md-8 menu-right animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <p>Bon Plan est un site développé par le groupe Task Force : nous sommes prêts à vous écouter .Merci de nous donner votre avis votre feed bak</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="contact-top">
                <div class="col-md-5 contact-map">
                    <h5>Google Map</h5>
                    <div class="map animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.5477267652295!2d10.204999214924579!3d36.853306379937635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd34d3c96bec6b%3A0x9f458fbb48b78af4!2sESPRIT+-+Cours+de+soir!5e0!3m2!1sfr!2stn!4v1523790651283" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="address">
                        <h4>Addresse</h4>
                        <p> Pon Plan Task Force</p>
                        <p>Site des bons affaires </p>
                        <p>Tel: 70 100 100</p>
                        <p>Email : <a href="bonplan2info@gmail.com">bonplan2info@gmail.com</a></p>
                    </div>
                </div>
                <div class="col-md-7 contact-para animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h5>Mail envoyé avec succès</h5>

                    <h4> Votre mail a été envoyé avec succès. Nous allons traiter votre requête dans les plus bref délais. </h4>

                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}