{% extends "Front\BonPlanBundle::layout.html.twig" %}
{% block container %}
    <div class="blog">
        <div class="container">
            <div class="menu-top">
                <div class="col-md-9 menu-left">
                    <h3>Inscription confirmée</h3>
                    <label><i class="glyphicon glyphicon-menu-up"></i></label>
                    <span>Merci de nous avoir accordé votre confiance. Désormais, vous receverez toutes les nouveautés.</span>
                </div>

                <div class="clearfix"> </div>
            </div>

            <div class="col-md-3 categories-grid">
                <div class="search-in animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">

                </div>

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}