{% extends "Front\BonPlanBundle::layout.html.twig" %}
{% block container %}
        <div class="menu">
        <div class="container">
            <div class="menu-top">
                <div class="col-md-8 menu-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h3>Liste des Evennements</h3>
                    <label><i class="glyphicon glyphicon-menu-up"></i></label>
                    <span>Actuellement sur les bon plans de Tunis</span>
                </div>
                <div class="col-md-8 menu-right animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="menu-bottom animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
                {% for event in events %}
                <div class="col-md-4 menu-bottom1">
                    <div class="btm-right">
                        <a href="{{ path('front_bon_plan_events',{'id': event.idev}) }}">
                            <img src="{{  asset('images/me.jpg') }}" alt="" class="img-responsive">
                            <div class="captn">
                                <h4>{{ event.nom }}</h4>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- /.container -->
{% endblock %}