{% extends "BackBonPlanBackBundle::layout.html.twig" %}
{% block tilte %}
    Administration Bon plan
{% endblock %}
{% block container %}
    <h1>Categorieevenement creation</h1>
    <div id="form-edit">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <BUTTON class="btn  btn-sm btn-success" type="submit" style="margin-top: 10px;">Create</BUTTON>
        {{ form_end(form) }}

        <a href="{{ path('categorieevenement_index') }}">
            <BUTTON class="btn  btn-sm btn-primary" type="submit" style="margin-top: 10px;">
                Back to the list
            </BUTTON>
        </a>

    </div>
{% endblock %}
