{% extends "BackBonPlanBackBundle::layout.html.twig" %}
{% block tilte %}
    Administration Bon plan
{% endblock %}
{% block container %}
    <div id="form-edit">
        <h1>Categorie article creation</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <BUTTON class="btn  btn-sm btn-success" type="submit" style="margin-top: 10px;">Create</BUTTON>
        {{ form_end(form) }}


        <a href="{{ path('categoriearticle_index') }}">  <BUTTON class="btn  btn-sm btn-primary" type="submit" style="margin-top: 10px;">Back to the list</BUTTON></a>
    </div>
{% endblock %}
