{% extends "Front\BonPlanBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    {% block container %}
        <br><br><br>
        <h3 class="text-center">
            <img src="{{  asset('images/bonplanblack.png') }}" alt=""><br>Espace utilisateurs</h3>
        <div>
            <hr>

            {{ include('@FOSUser/Security/login_content.html.twig') }}
        </div>
    {% endblock %}
{% endblock fos_user_content %}
