{% extends "Front\BonPlanBundle::layout.html.twig" %}
{% block container %}

    <h1>Réservation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Confirmer Réservation" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('reserver_index') }}">Retourner à la liste des évenements</a>
        </li>
    </ul>
{% endblock %}
